.bg-dark{
  background: #212529;
}
.bg-light{
  background: #fff;
}
.color-dark{
  color: #212529;
}
.color-light{
  color: #fff;
}
.light-theme-round{
  background: #fff;
  border: #d4d4d4 solid 2px !important;
}
.dark-theme-round{
  background: #333;
  margin-left: 20px;
}
.light-theme-round,
.dark-theme-round{
  display: inline-block;
  width: 25px;
  height: 25px;
  border: #fff solid 2px;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 5px;
}
.notebook-dark{
  background:url("../custom-images/line-dark.png") repeat;
}
.notebook-light{
  background:url("../custom-images/line-light.png") repeat;
}
.notebook{
  line-height: 40px;
  font-size: 20px;
  padding:0 10px 0 60px;
  position: relative;
  min-height: 300px;
}
.notebook:before{
  content: "";
  position: absolute;
  background: url("../custom-images/line-vertical.png") repeat;
  top:0;
  left: 0;
  width: 50px;
  height:  100%;
}
.pointer{
  cursor: pointer;
}
